1.1 - Movielens full - EDA
Nu ska du ladda ned datasetet ml-latest.zip under sektionen "recommended for education and
development". Läs in dataseten "movies.csv" och "ratings.csv" besvara på följande frågorna nedan.
a) Gör en EDA för att förstå datasetet. Inkludera olika slags plots. Begränsa dig inte till frågorna nedan,
utan försök undersöka fler aspekter av datan

In [124]:
import pandas as pd

movies = pd.read_csv("../Data/ml-latest/movies.csv")
ratings = pd.read_csv("../Data/ml-latest/ratings.csv")

In [125]:
movies.set_index("movieId", inplace=True)
movies

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
...,...,...
193876,The Great Glinka (1946),(no genres listed)
193878,Les tribulations d'une caissière (2011),Comedy
193880,Her Name Was Mumu (2016),Drama
193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi
193886,Leal (2018),Action|Crime|Drama

In [126]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [127]:
ratings.dropna(inplace=True)

b) Vilka är de 10 filmerna med flest ratings?

In [152]:
ten_most = ratings["movieId"].value_counts().head(10)

print("--- Ten most rankded movies ---")
print()

for i, movie in enumerate(ten_most.index):
    print(f"{ten_most.iloc[i]} ratings - ", end="")
    print(movies.loc[movie]["title"])

--- Ten most rankded movies ---

97999 ratings - Shawshank Redemption, The (1994)
97040 ratings - Forrest Gump (1994)
92406 ratings - Pulp Fiction (1994)
87899 ratings - Silence of the Lambs, The (1991)
84545 ratings - Matrix, The (1999)
81815 ratings - Star Wars: Episode IV - A New Hope (1977)
76451 ratings - Jurassic Park (1993)
71516 ratings - Schindler's List (1993)
68803 ratings - Braveheart (1995)
68469 ratings - Toy Story (1995)

c) Beräkna den genomsnittliga ratingen för dessa 10 filmerna med flest ratings.

In [153]:
print("--- Ratings of ten most ranked movies ---")
print()
for movie in ten_most.index:
    print(round(ratings[ratings["movieId"] == movie]["rating"].mean(), 2), end = " - ")
    print(movies.loc[movie]["title"])

--- Ratings of ten most ranked movies ---

4.42 - Shawshank Redemption, The (1994)
4.06 - Forrest Gump (1994)
4.17 - Pulp Fiction (1994)
4.15 - Silence of the Lambs, The (1991)
4.15 - Matrix, The (1999)
4.12 - Star Wars: Episode IV - A New Hope (1977)
3.67 - Jurassic Park (1993)
4.26 - Schindler's List (1993)
4.01 - Braveheart (1995)
3.89 - Toy Story (1995)

d) Gör en plot över årtal och antalet filmer representerade i datasetet.

In [156]:
import matplotlib.pyplot as plt
import plotly.express as px


df_movies_year = movies
df_movies_year["year"] = movies["title"].str.extract(r'\((\d{4})\)')
df_movies_per_year = df_movies_year.groupby("year").size().reset_index(name="count")

fig = px.bar(df_movies_per_year, x="year", y= "count", title='Number of Movies per Year')
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [131]:
s = "asdfsdf(2131)"

s[s.find("(")+1:s.find(")")]

'2131'