In [ ]:
import pandas as pd

movies = pd.read_csv("../Data/ml-latest/movies.csv")
ratings = pd.read_csv("../Data/ml-latest/ratings.csv")

In [ ]:
movies.set_index("movieId", inplace=True)
movies

In [91]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [ ]:
ratings.dropna(inplace=True)

In [97]:
ten_most = ratings["movieId"].value_counts().head(10)

print("---Ten most ranked movies---")
for movie in ten_most.index:
    print(round(ratings[ratings["movieId"] == movie]["rating"].mean(), 2), end = " - ")
    print(movies.loc[movie]["title"])

---Ten most ranked movies---
4.42 - Shawshank Redemption, The (1994)
4.06 - Forrest Gump (1994)
4.17 - Pulp Fiction (1994)
4.15 - Silence of the Lambs, The (1991)
4.15 - Matrix, The (1999)
4.12 - Star Wars: Episode IV - A New Hope (1977)
3.67 - Jurassic Park (1993)
4.26 - Schindler's List (1993)
4.01 - Braveheart (1995)
3.89 - Toy Story (1995)

In [ ]:
movies.loc[318]["title"]